body {
    background-color: rgb(30, 30, 30);
    display: auto;
    justify-content: center;
    align-items: center;
    color: white;

    margin: 0 0 0 0;
    border: 0 0 0 0;
}

.main-content-div {
    width: 50%;
    margin: 0 auto;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: rgba(20, 20, 20, 0.5);
}

.top-header-div {
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.5);

    font-size: 80px;
    margin-top: 0px;
    border: 0 0 0 0;

    text-align: center;
    align-items: center;

    display: flex;
    justify-content: center;
}

.buttons-div {
	background-color: rgba(0, 0, 255, 30);
	display: flex;

}

h1 {
    border: 0 0 0 0;
    margin: 0 0 0 0;
    color: white;
}
